/build/
/rust/target/
/.deps/
/.pi/
/artifacts/
/benchmarks/data/*/*.log
__pycache__/
*.duckdb
*.duckdb.wal
/*.tar.gz
/r/Rducksassy/src/build/
/r/Rducksassy/src/ducksassy.duckdb_extension
/r/Rducksassy/src/extension/rust/target/
/*.Rcheck/
